body {
	margin: 0;
	padding: 0;
	font-size: 12pt;
	font-family: 'Helvetica', 'Arial', sans-serif;
	line-height: 150%;
}

p {
	margin: 0;
	padding: 0;
}

a {
	/*color: darkblue;*/
	color: inherit;
	text-decoration: none;
}

a:visited {
	/*color: darkblue;*/
}

h1 {
	font-weight: 400;
	font-size: 26pt;
}

h2 {
	font-family: 'Lato', sans-serif;
	color: #666;
	font-size: 20pt;
	font-weight: 300;
    margin-top: 0;
	/*font-variant: small-caps;*/
}

h3 {
    margin: 20px 0 10px 0;
}

h4 {
    margin: 0px 0 10px 0;
}


a:hover {
	text-decoration: underline;
    color: #ee4443;
}

ul {
	margin: 0;
    padding-left: 25px;
}

ul.nobullet {
	list-style: none;
}

ul.nobullet > li {
    margin-left: -20px;
}


li {
	margin-bottom: 3px;
	line-height: 130%;
}

ul li {
	margin-top: 6px;
}

ul li ul {
	margin-top: 5px;
	list-style-type: circle;
}

ul li ul li {
	margin-top: 2px;
}

ol {
    padding-left: 40px;
}

ol li {
	margin-bottom: 10px;
}

/* Show More, Show Less */
#publications li.paper {
    display: none;
}

/*
#publications li.paper:nth-child(-n+9) {
    display: list-item;
}
*/

#publications .show-all li.paper {
    display: list-item;
}

#publications li.select {
    display: list-item;
}

#courses li.courses {
    display: none;
}

#courses li.courses:nth-child(-n+1) {
    display: list-item;
}

#courses .show-all li.courses {
    display: list-item;
}
/*-------------------------*/

#wrap {
	max-width: 860px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#profile {
    display: table;
    width: 100%;
    margin-bottom: 20px;
	font-size: 12pt;
}

#profile_left_margin {
    display: table-cell;
    width: 10%; 
}

#short_intro {
    display: table-cell;
	text-align: center;
    width: 50%;
    min-width: 250px;
    vertical-align: top;
    padding-top: 25px;
}

#photo {
    display: table-cell;
    width: 30%;
    text-align: left;
}

#photo img {
	border-radius: 0%;
	height: 190px;
    width: auto;
}

#profile_right_margin {
    display: table-cell;
    width: auto; 
}

.clear {
	clear: both;
}

#menu {
	display: table;
	width: 100%;
	margin-bottom: 25px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

#menu div {
	display: table-cell;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	font-weight: 400;
	color: #333;
}

#menu div:hover {
	background: #ddd;
}

#menu .now {
	background: #eee;
    color: #ee4443;
}

#menu a {
	display: block;
	padding: 5px 0 5px 0;
	color: inherit;
}

#menu a:hover {
	text-decoration: none;
}

#logos {
	width: 100%;
	text-align: center;
    padding-top: 20px;
	margin-bottom: 20px;
}

#logos img {
	margin: 0 35px;
	vertical-align: middle;
}

#footer {
	text-align: right;
	color: gray;
}

p.bigskip {
	margin: 20px 0;
}

.section {
	padding: 20px 0;
	/*margin: 20px 0;*/
	border-bottom: 1px solid #eee;
}

.section p {
	margin-left: 20px;
}

.date {
	margin-left: 5px;
	font-size: 10pt;
	font-weight: 300;
	color: #333;
	vertical-align: top;
}

.paper_title {
	/*font-family: 'SF Pro', 'Roboto', sans-serif;*/
	font-weight: 700;
	line-height: 140%;
}

.paper_title .link {
	color: #666;
	font-weight: 300;
	font-size: 10pt;
}

.best_paper {
	font-weight: 400;
}

.paper_authors {
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: 400;
    color: #333;
	line-height: 140%;
}

.paper_venue {
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: 300;
    color: #666;
	line-height: 140%;
    font-style: italic;
}

.paper_title img {
	margin-top: 0.5pt;
	height:10.5pt;
}

.hide {
	display: none;
}

.emph {
    color: #ee4443;
}

#lab_intro {
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

#lab_intro img {
    display: block;
    margin-top: 20px;
}

#lab_intro img {
    max-width: 100%;
}

#lab_intro video {
    max-width: 100%;
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideshow-container {
    position: relative;
    margin: auto;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
}
.slide img {
    width: 100%;
    height: auto;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.arrow.left {
    left: 10px;
}
.arrow.right {
    right: 10px;
}
.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots-container {
    text-align: center;
    margin-top: 10px;
}
.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}
.dot.active {
    background-color: #333;
}

.thumbnail-preview img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.thumbnail-preview {
    position: absolute; 
    bottom: 50px;
    left: 50%; 
    transform: translateX(-50%); 
    width: 400px;
    display: none;
    z-index: 20;
}

.student_list {
    margin-bottom: 20px;
    list-style-type: none;
}
    
.member_name, .alum_name {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    width: 130px;
    text-align: right;
}

.alum_name {
    width: 220px;
}

@media screen and (max-width: 767px) {
    .member_name, .alum_name {
        display: inline-block;
        margin-right: 20px;
        font-weight: bold;
    }

    .alum_name {
    }

}
